.to{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    gap: 18px;
}

button{
    border-radius: 20px;
    color: aqua;
    background-color: black;
}